// Global Variables & imports

$break-small: 640px;
$break-large: 1200px;
$backcolor: #26051a;
$forecolor: #6ab04c;
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat:400,500,700|Roboto:400,500,700");

// Fonts

// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;

// >> Global parameters <<

// Reset parameters

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-out;
  padding-bottom: 3px;
  border-bottom: 3px rgba($forecolor, $alpha: 0) solid;

  &:hover {
    border-bottom: 3px rgba($forecolor, $alpha: 1) solid;
  }
}

// CSS-made Logo

.kitchenlogo {
  h1 {
    font-family: "Roboto", sans-serif;
    text-transform: lowercase;
    font-weight: 400;
    color: #ddd;

    strong {
      font-weight: 900;
      color: $forecolor;
    }
  }
}

// Shadow

.shadowToText {
  text-shadow: 0px 0px 4px #000000;
  text-shadow: 0px 0px 4px #000000;
}

// >> Actual webpage <<

// Top navigation bar

nav {
  z-index: 999999;
  background: transparent;
  width: 100%;
  height: 50px;
  position: fixed;
  transition: 0.5s;

  .leftContainer {
    width: 40%;
    float: left;
    padding: 11px 1.6em;
  }

  .rightContainer {
    width: 60%;
    min-width: 60%;
    float: right;
    text-align: right;
    padding: 15px 1.6em;
    font-family: "Montserrat", sans-serif;

    li {
      display: inline-block;
      margin-left: 1.2em;
    }
  }
}

.scrollToTop {
  z-index: 9999;
  position: fixed;
  right: 3%;
  bottom: 3%;

  i {
    font-size: 3em;
  }

  a:hover {
    color: $forecolor;
    border: none;
  }
}

// Side social bar

.linksBar {
  position: fixed;
  top: 40%;
  left: -10px;
  z-index: 99999999;
  width: 180px;
  font-family: "Montserrat";

  a {
    text-decoration: none;
  }

  .option {
    cursor: pointer;
    position: relative;
    z-index: 2;

    i {
      display: block;
      width: 60px;
      text-align: center;
      height: 60px;
      line-height: 60px;
      color: white;
      background: rgba(#1f1f1f, 0.8);
      font-size: 20px;
      transition: 0.5s;
      z-index: 3;
      -webkit-border-top-right-radius: 50px;
      -webkit-border-bottom-right-radius: 50px;
      -moz-border-radius-topright: 50px;
      -moz-border-radius-bottomright: 50px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }

  .option:hover i {
    color: $forecolor;
    z-index: 3;
  }

  .text {
    z-index: -999;
    position: absolute;
    height: 60px;
    width: 200px;
    top: 0;
    left: -190px;
    background: rgba(#000, 0.5);
    color: white;
    line-height: 60px;
    text-align: right;
    padding-right: 15px;
    font-size: 18px;
    transition: 0.5s;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .option:hover .text {
    left: -20px;
  }
}

main {
  font-family: "Montserrat", sans-serif;

  .space {
    height: 100vh;
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
  }

  .scrollsnap {
    scroll-snap-align: center;
  }

  .spaA {
    background-image: url("../src/backgrounda.webp");
    background-color: rgba(#000, 0.8);
    background-size: cover;

    .greeting {
      text-shadow: 0px 0px 20px #000000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      p {
        color: white;
        font-size: 24px;
        padding-left: 15em;
        font-family: "Dancing Script";
      }

      .firstLogo {
        font-size: 3em;
      }
    }
  }

  // Map with description

  .spaB {
    position: relative;

    .text {
      background: rgba(#000, 0.8);
      height: 100%;
      width: 40%;
      right: 0;
      padding: 80px 1em;
      color: white;
      text-align: right;
      position: absolute;
      z-index: 101;

      .loremipsum {
        padding-top: 1.6em;
        line-height: 2.6em;
      }

      .goTogMaps {
        font-size: 12px;
        padding-top: 6em;

        a {
          color: $forecolor;
        }
      }
    }

    #map {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 100;
    }
  }
}

.spaC {
  //background-image: url('../src/placeholder/background_c.jpg.png');
  display: flex;
  flex-wrap: wrap;

  .photo {
    width: 33.3%;
    height: 50%;
  }

  .blocka {
    background: url("../src/ig_a.jpg");
    background-size: cover;
  }

  .blockb {
    background: url("../src/ig_b.jpg");
    background-size: cover;
  }

  .blockc {
    background: url("../src/ig_c.jpg");
    background-size: cover;
  }

  .blockd {
    background: url("../src/ig_d.jpg");
    background-size: cover;
  }

  .blocke {
    background: url("../src/ig_e.jpg");
    background-size: cover;
  }

  .blockf {
    background: url("../src/ig_f.jpg");
    background-size: cover;
  }

  .foreText {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 1);
    opacity: 0;
    transition: 0.3s;
    text-align: center;
    padding-top: 25%;

    span {
      color: white;
    }

    &:hover {
      opacity: 0.85;
    }

    a {
      background: $forecolor;
      padding: 5px 15px;
      line-height: 5.6em;
      text-decoration: none;
      color: white;
      border-radius: 5px;
    }
  }
}

// Testimonials

.spaD {
  background-image: url("../src/backgroundb.webp");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 100vh;

  .centerbox {
    background: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 5%;
    width: 80%;
    height: 60%;
    border-radius: 35px;

    h1 {
      font-family: "Dancing Script", sans-serif;
      font-weight: lighter;
      font-size: 48px;
      text-align: center;
      //text-transform: uppercase;
      border-bottom: 1px solid black;
    }

    p {
      padding-top: 1.6em;
      line-height: 1.6em;
    }

    #author {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      text-align: right;
    }
  }
}

footer {
  height: auto;
  background-color: #333;
  padding: 1.6rem 1rem;
  display: flex;
  flex-wrap: wrap;

  .leftFootSide {
    width: 50%;

    img {
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: 8px;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      color: white;

      font-weight: lighter;
    }
  }

  .rightFootSide {
    border-left: 1px solid #3f3f3f;
    padding-left: 1.6rem;
    width: 50%;
    text-align: right;

    h1 {
      font-family: "Montserrat";
      font-weight: bolder;
      font-size: 18px;
      text-transform: uppercase;
      color: #555;
      margin-bottom: 15px;
    }

    ul {
      list-style-type: none;

      a {
        text-decoration: none;
        color: #aaa;
        font-family: "Montserrat";
        text-transform: lowercase;
        line-height: 2em;
        font-size: 12px;
      }
    }
  }

  .bottomFootSide {
    padding: 0.5em;
    width: 100%;
    text-align: center;

    p {
      color: white;
      text-transform: uppercase;
      font-size: 8px;
      font-family: "Montserrat";
    }

    img {
      margin-left: 3px;
    }
  }
}

// responsiveness

@media screen and (max-width: $break-small) {
  // Top Navigation bar

  nav {
    width: 100vw;

    .leftContainer {
      width: 100vw;
      text-align: center;
    }

    .rightContainer {
      display: none;
    }

    display: none;
  }

  // Actual Web page

  main {
    // Social bar

    .linksBar {
      display: none;
    }

    // First block

    .spaA {
      width: 100vw;

      .greeting {
        background-color: rgba($color: #333, $alpha: 0.8);
        border-radius: 15px;
        padding: 1.3em;
        width: 100%;

        p {
          font-size: 5vw;
          text-align: left;
        }

        h1 {
          text-align: center;
          font-size: 10vw;
        }
      }
    }

    // Description

    .spaB {
      background: url("../src/backgroundc.webp");
      background-size: cover;
      font-size: 0.7rem;

      iframe {
        display: none;
      }

      .text {
        width: 100%;
        background-color: rgba($color: #000, $alpha: 0.5);

        .goTogMaps {
          display: none;
        }
      }
    }

    // Instagram

    .spaC {
      .photo {
        width: 100%;
        height: 100%;
      }

      .blocka,
      .blockb,
      .blockc,
      .blockd,
      .blocke,
      .blockf {
        background-attachment: fixed;
      }
    }

    // Testimonials

    .spaD {
      margin-top: 500vh;

      //display: inherit;
      .centerbox {
        overflow: hidden;
      }
    }

    // Footer

    footer {
      display: none;
    }
  }
}
