@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat:400,500,700|Roboto:400,500,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  padding-bottom: 3px;
  border-bottom: 3px rgba(106, 176, 76, 0) solid;
}

a:hover {
  border-bottom: 3px #6ab04c solid;
}

.kitchenlogo h1 {
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  color: #ddd;
}

.kitchenlogo h1 strong {
  font-weight: 900;
  color: #6ab04c;
}

.shadowToText {
  text-shadow: 0px 0px 4px #000000;
  text-shadow: 0px 0px 4px #000000;
}

nav {
  z-index: 999999;
  background: transparent;
  width: 100%;
  height: 50px;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .leftContainer {
  width: 40%;
  float: left;
  padding: 11px 1.6em;
}

nav .rightContainer {
  width: 60%;
  min-width: 60%;
  float: right;
  text-align: right;
  padding: 15px 1.6em;
  font-family: "Montserrat", sans-serif;
}

nav .rightContainer li {
  display: inline-block;
  margin-left: 1.2em;
}

.scrollToTop {
  z-index: 9999;
  position: fixed;
  right: 3%;
  bottom: 3%;
}

.scrollToTop i {
  font-size: 3em;
}

.scrollToTop a:hover {
  color: #6ab04c;
  border: none;
}

.linksBar {
  position: fixed;
  top: 40%;
  left: -10px;
  z-index: 99999999;
  width: 180px;
  font-family: "Montserrat";
}

.linksBar a {
  text-decoration: none;
}

.linksBar .option {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.linksBar .option i {
  display: block;
  width: 60px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  color: white;
  background: rgba(31, 31, 31, 0.8);
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.linksBar .option:hover i {
  color: #6ab04c;
  z-index: 3;
}

.linksBar .text {
  z-index: -999;
  position: absolute;
  height: 60px;
  width: 200px;
  top: 0;
  left: -190px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  line-height: 60px;
  text-align: right;
  padding-right: 15px;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.linksBar .option:hover .text {
  left: -20px;
}

main {
  font-family: "Montserrat", sans-serif;
}

main .space {
  height: 100vh;
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
}

main .scrollsnap {
  scroll-snap-align: center;
}

main .spaA {
  background-image: url("../src/backgrounda.webp");
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
}

main .spaA .greeting {
  text-shadow: 0px 0px 20px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .spaA .greeting p {
  color: white;
  font-size: 24px;
  padding-left: 15em;
  font-family: "Dancing Script";
}

main .spaA .greeting .firstLogo {
  font-size: 3em;
}

main .spaB {
  position: relative;
}

main .spaB .text {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 40%;
  right: 0;
  padding: 80px 1em;
  color: white;
  text-align: right;
  position: absolute;
  z-index: 101;
}

main .spaB .text .loremipsum {
  padding-top: 1.6em;
  line-height: 2.6em;
}

main .spaB .text .goTogMaps {
  font-size: 12px;
  padding-top: 6em;
}

main .spaB .text .goTogMaps a {
  color: #6ab04c;
}

main .spaB #map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.spaC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.spaC .photo {
  width: 33.3%;
  height: 50%;
}

.spaC .blocka {
  background: url("../src/ig_a.jpg");
  background-size: cover;
}

.spaC .blockb {
  background: url("../src/ig_b.jpg");
  background-size: cover;
}

.spaC .blockc {
  background: url("../src/ig_c.jpg");
  background-size: cover;
}

.spaC .blockd {
  background: url("../src/ig_d.jpg");
  background-size: cover;
}

.spaC .blocke {
  background: url("../src/ig_e.jpg");
  background-size: cover;
}

.spaC .blockf {
  background: url("../src/ig_f.jpg");
  background-size: cover;
}

.spaC .foreText {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  padding-top: 25%;
}

.spaC .foreText span {
  color: white;
}

.spaC .foreText:hover {
  opacity: 0.85;
}

.spaC .foreText a {
  background: #6ab04c;
  padding: 5px 15px;
  line-height: 5.6em;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.spaD {
  background-image: url("../src/backgroundb.webp");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 100vh;
}

.spaD .centerbox {
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 5%;
  width: 80%;
  height: 60%;
  border-radius: 35px;
}

.spaD .centerbox h1 {
  font-family: "Dancing Script", sans-serif;
  font-weight: lighter;
  font-size: 48px;
  text-align: center;
  border-bottom: 1px solid black;
}

.spaD .centerbox p {
  padding-top: 1.6em;
  line-height: 1.6em;
}

.spaD .centerbox #author {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
}

footer {
  height: auto;
  background-color: #333;
  padding: 1.6rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .leftFootSide {
  width: 50%;
}

footer .leftFootSide img {
  margin: 0;
  padding: 0;
}

footer .leftFootSide h2 {
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: lighter;
}

footer .rightFootSide {
  border-left: 1px solid #3f3f3f;
  padding-left: 1.6rem;
  width: 50%;
  text-align: right;
}

footer .rightFootSide h1 {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 15px;
}

footer .rightFootSide ul {
  list-style-type: none;
}

footer .rightFootSide ul a {
  text-decoration: none;
  color: #aaa;
  font-family: "Montserrat";
  text-transform: lowercase;
  line-height: 2em;
  font-size: 12px;
}

footer .bottomFootSide {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}

footer .bottomFootSide p {
  color: white;
  text-transform: uppercase;
  font-size: 8px;
  font-family: "Montserrat";
}

footer .bottomFootSide img {
  margin-left: 3px;
}

@media screen and (max-width: 640px) {
  nav {
    width: 100vw;
    display: none;
  }
  nav .leftContainer {
    width: 100vw;
    text-align: center;
  }
  nav .rightContainer {
    display: none;
  }
  main .linksBar {
    display: none;
  }
  main .spaA {
    width: 100vw;
  }
  main .spaA .greeting {
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 15px;
    padding: 1.3em;
    width: 100%;
  }
  main .spaA .greeting p {
    font-size: 5vw;
    text-align: left;
  }
  main .spaA .greeting h1 {
    text-align: center;
    font-size: 10vw;
  }
  main .spaB {
    background: url("../src/backgroundc.webp");
    background-size: cover;
    font-size: 0.7rem;
  }
  main .spaB iframe {
    display: none;
  }
  main .spaB .text {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  main .spaB .text .goTogMaps {
    display: none;
  }
  main .spaC .photo {
    width: 100%;
    height: 100%;
  }
  main .spaC .blocka,
  main .spaC .blockb,
  main .spaC .blockc,
  main .spaC .blockd,
  main .spaC .blocke,
  main .spaC .blockf {
    background-attachment: fixed;
  }
  main .spaD {
    margin-top: 500vh;
  }
  main .spaD .centerbox {
    overflow: hidden;
  }
  main footer {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */